body {
	background-color: #00AAAA;	
}

#filters{
	width:350px;
	margin:20px;

}
#filters p{
    margin:0;
}

#filters input,select{
    width: 180px;
}
#filters button{
    width: 120px;
}


#dataDisplay
{
    position: static;
    width   : 100%;
    height  : auto;
    min-height: 200px;
    border  : solid 1px #0000ff;
    overflow:auto;
    
}

#dataDisplay div {
	border: solid black 1px;
	width: 350px;
    margin: 10px;
    padding:10px;
    float: left;
    background-color: white;
    
}
#dataDisplay #countTotal {
	width: 95%;
}

#dataDisplay p {
	margin:0;
	margin-top:5px;
}

#dataDisplay p #author {
	font-weight:bold;
	font-size:20px;
}

#dataDisplay p #title {
	font-style:italic;
	font-size:18px;
}

